<ion-list class="ion-padding-vertical">
  <ion-row>
    <ion-col sizeMd="2" *ngFor="let movie of getMoviesData">
      <ion-card class="myCard">
        <ion-card-header class="p-0" (click)="gotoDetailsPage(movie.id)">
          <img
            alt="Silhouette of mountains"
            [src]="movie.movie_poster"
            width="100%"
          />
          <ion-card-title>
            {{ movie.movie_title }}
            <ion-badge shape="round ">{{ movie.movie_releaseYear }}</ion-badge>
          </ion-card-title>
          <ion-card-subtitle>
            <div>{{ movie.movie_genre }}</div>
            <!-- <ion-icon name="log-out-outline" slot="end"></ion-icon> -->
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-buttons class="ion-justify-content-between">
            <ion-button
              expand="block"
              shape="round"
              color="primary"
              slot="start"
              (click)="gotoDetailsPage(movie.id)"
              >Know more</ion-button
            >
            <ion-icon size="default" name="heart-outline" slot="end"></ion-icon>
          </ion-buttons>
          <ion-button
            expand="block"
            shape="round"
            color="primary"
            slot="start"
            (click)="openEditModal(movie)"
            *ngIf="authService.userEmail === 'dewanshusingh21@gmail.com'"
          >
            Edit
            <ion-icon
              size="default"
              name="create-outline"
              slot="end"
            ></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <!--  -->
  </ion-row>
</ion-list>
