<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--  -->
  <div *ngIf="profileLength === 0">
    <form #addProfileForm="ngForm" (ngSubmit)="addProfile(addProfileForm)">
      <ion-input
        type="text"
        label="Name"
        name="uname"
        labelPlacement="floating"
        placeholder="Enter Name"
        ngModel
      ></ion-input>

      <ion-input
        type="text"
        label="Email"
        name="email"
        labelPlacement="floating"
        placeholder="Enter Email"
        [(ngModel)]="userEmail"
      >
      </ion-input>

      <ion-button
        type="submit"
        shape="round"
        color="success"
        class="text-center"
        expand="full"
        style="margin: 0 auto"
      >
        <ion-icon name="add-outline"></ion-icon>
        &nbsp; Add</ion-button
      >
    </form>
  </div>
  <!--  -->
  <div *ngIf="profileLength > 0">
    <form
      *ngFor="let profile of profiles"
      #updateProfileForm="ngForm"
      (ngSubmit)="updateProfile(updateProfileForm)"
    >
      <ion-input
        type="text"
        label="Name"
        name="uname"
        labelPlacement="floating"
        placeholder="Enter Name"
        [(ngModel)]="profile.uname"
      >
      </ion-input>

      <ion-input
        type="text"
        label="Email"
        name="email"
        labelPlacement="floating"
        placeholder="Enter Email"
        [(ngModel)]="profile.email"
      >
      </ion-input>

      <ion-button
        type="submit"
        shape="round"
        color="success"
        class="text-center"
        expand="full"
        style="margin: 0 auto"
      >
        <ion-icon name="cloud-upload-outline"></ion-icon>
        &nbsp; Update
      </ion-button>

      <ion-button
        expand="full"
        (click)="logOut()"
        shape="round"
        color="warning"
        style="margin: 0 auto"
      >
        <ion-icon name="exit-outline"></ion-icon>
        &nbsp;Log Out
      </ion-button>

      <ion-button
        expand="full"
        (click)="logOut()"
        shape="round"
        style="margin: 0 auto"
      >
        <ion-icon name="repeat-outline"></ion-icon>
        &nbsp;Reset Password
      </ion-button>

      <ion-button
        expand="full"
        (click)="deleteProfile()"
        shape="round"
        style="margin: 0 auto"
        color="danger"
      >
        <ion-icon name="trash-outline"></ion-icon>
        &nbsp;Delete
      </ion-button>
    </form>
  </div>
</ion-content>
