<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-title> Welcome </ion-title>
    <p>Sign up to create your account</p>
    <form [formGroup]="signUpForm" novalidate>
      <div class="ion-padding flex-gap-0-5">
        <ion-item>
          <ion-input
            type="email"
            formControlName="email"
            label="Email"
            labelPlacement="floating"
          ></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <div *ngIf="signUpForm.get('email').touched">
          <ion-text
            color="danger"
            *ngIf="signUpForm.get('email').hasError('required')"
            >Email is required</ion-text
          >
          <ion-text
            color="danger"
            *ngIf="signUpForm.get('email').hasError('pattern')"
            >Invalid email format</ion-text
          >
        </div>

        <!--  -->
        <ion-item>
          <ion-input
            type="password"
            formControlName="password"
            label="Password"
            labelPlacement="floating"
          ></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
        <div *ngIf="signUpForm.get('password').touched">
          <ion-text
            color="danger"
            *ngIf="signUpForm.get('password').hasError('required')"
            >Password is required</ion-text
          >
          <ion-text
            color="danger"
            *ngIf="signUpForm.get('password').hasError('pattern')"
            >Password must have: One Charactor One Capital Letter One Number
            Contain 8 character or digits</ion-text
          >
        </div>

        <!--  -->
        <div class="links signUp">
          Already have an Account ?
          <a [routerLink]="['/login']"> Sign In Now</a>
        </div>
        <!--  -->
        <ion-button (click)="signUp()" shape="round"
          >Create Account
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
